@{
    ViewData["Title"] = "Contact";
}


<div class="container my-3">
    <center>
        <p style="font-size:35px; letter-spacing: 2px"> <b><big>Let's Talk</big></b></p>
        <p style="letter-spacing: 2px">
            Hey Geeks! Let's Interact, Please submit your Valuable Suggestions,<br /> Feedbacks or any other Queries
        </p>
    </center>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto shadow-lg py-5 my-5 bg-white rounded">
                <form asp-action="Send" method="post">
                    <div class="row mx-5 my-3">
                        <div class="col-md-6">
                            <label for="FirstName">First Name</label>
                            <div class="form-group my-2">
                                <input type="text" id="FirstName" name="FirstName" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="LastName">Last Name</label>
                            <div class="form-group my-2">
                                <input type="text" id="LastName" name="LastName" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col">
                            <label for="Email">Email</label>
                            <div class="form-group my-2">
                                <input type="email" id="Email" name="Email" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col">
                            <label for="Subject">Subject</label>
                            <div class="form-group my-2">
                                <input type="text" id="Subject" name="Subject" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col">
                            <label for="Message">Message</label>
                            <div class="form-group my-2">
                                <textarea id="Message" name="Message" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col">
                            <div class="form-group my-2">
                                <button type="submit" class="btn px-5" style="border-radius:50px; background-color:#78e08f">SEND</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>