@{
    ViewData["Title"] = "Projects";
}

<div class="container my-4">
    <center><p style="font-size:35px; letter-spacing: 2px"> <b><big>PROJECTS</big></b></p></center>
    <br />
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto shadow-lg py-5 my-5 bg-white rounded">
                <div class="row g-0 my-3">
                    <div class="col-md-4 text-center align-self-center">
                        <img src="~/images/BSCESI.png" class="img-fluid rounded" alt="Bird Classification Project">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Bird Species Classification and Endangered Species Identification </h5>
                            <p class="card-text" style="letter-spacing: 2px;">
                                Developed a CNN-based deep learning model with Efficient Net B3 to classify
                                270 bird species using 84,000+ images. Incorporated metadata for filtering and
                                endangered species identification to support conservation efforts.
                            </p>
                            <a href="https://github.com/Jayannth-Paamuru/Bird-Species-Classification" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto shadow-lg py-5 my-5 bg-white rounded">
                <div class="row g-0 my-3">
                    <div class="col-md-4 text-center align-self-center">
                        <img src="~/images/LMS.png" class="img-fluid rounded" alt="LMS">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Library Management System </h5>
                            <p class="card-text" style="letter-spacing: 2px;">
                                Built a Library Management System in ASP.NET MVC with user authentication,
                                session handling, and secure redirection. Implemented a rental tracking module
                                with automated due date monitoring, fine calculation, and SQL Server-based data
                                storage for members, books, and transactions.
                            </p>
                            <a href="https://github.com/Jayannth-Paamuru/LibraryManagement" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mx-auto shadow-lg py-5 my-5 bg-white rounded">
                <div class="row g-0 my-3">
                    <div class="col-md-4 text-center align-self-center">
                        <img src="~/images/DP.png" class="img-fluid rounded" alt="Diabetic PRediction">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Prediction of Diabetes </h5>
                            <p class="card-text" style="letter-spacing: 2px;">
                                Developed an SVM-based machine learning model for early diabetes prediction
                                using real-world healthcare data. Aims to support preventive care through accurate
                                risk assessment and lifestyle recommendations.
                            </p>
                            <a href="https://github.com/Jayannth-Paamuru/Diabatic-Prediction" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
